
<header class="text-center">
	<h2>Creacion de WSDL</h2>
</header>


	<div class="container">
		<div class="row">
			<div class="col-sm-offset-12" >
				<button class="btn btn-success" (click)='displayCompleteJson()' > Mostrar WSDL!</button>

<button class="btn btn-success" (click)='saveTextAsFile()' >Guardar WSDL</button>

			</div>

		</div>
	</div>




	<hr>

	<div class="container">


	<!--	<a class="btn" ng-click="saveJSON()" ng-href="{{url}}">Export to JSON</a> -->


		<div class="row" >


 <textarea id="inputTextToSave" style="width:412px;height:256px" >
 <?xml version="1.0" encoding="UTF-8"?>
	  {{jsonSchema}}

	</textarea>

	<hr>

</div>
</div>
<br><br>
