.main-container{
position:relative;
   margin:10px;
         width:400px;
         height:auto;

}
.b6 {border-style:double;}

.contenedor{
  display: inline-block;
  min-width: 100px;
}

.texto{
  background-color: white;
  width: 100%;
  border: medium double #369;
}
