<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <div class="center">

     <h1 class="text-center">Automatizacion de contratos!</h1>
    </div>
 </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">-------</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.utilities-online.info/xmltojson/#.WwXOWcJOm00">Convertidor json a xml</a>
      </li>

    </ul>


  </div>



</nav>
